div.form {
  /*background-color: white;
  border: solid green 2px;*/
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 4vw;
  height: 40vw;
  width: 25vw;
  text-align: center;
}
body{
  background-image: url("../public/form.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}
div.form input{
  width: 80%;
  height: 30px;
  margin-bottom: 5%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

div.form input::placeholder{
  color: brown;
}

div.form button[type="submit"]{
  border: none;
  width: 50%;
  height: 40px;
  margin-top: 5%;
  border-radius: 25px;
  background: black;
  color: white;
}

div.form button[type="submit"]:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

div.form button[type="submit"]:disabled{
  opacity: 0.2;
}

div.form textarea {
  width: 80%;
  height: 100px;
  border: 1px solid black;
  resize: none;
  background: transparent;

}
div.form textarea::placeholder{
  text-align: center;
  color: brown;
}

div.form h1{
  text-align: center;
}

div.form label{
  cursor: pointer;
  text-align: center;
}
div.form label > img {
  height: 25px;
  width: 30px;
}
div.form input[type="file"]{
  display: none;
}

#imageName{
  color:green;
}

.invalidInput {
  border-bottom: 1px red solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
  width: 6vw;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .active {
  border-bottom: solid 2px brown;
}

div.column {
  float: left;
  width: 50vw;
  height: 10vw;
  margin-top: 0.5vw;    
  border: solid burlywood 1px;
  border-radius: 1vw;
}

div.deleteResult {
  float: left;
  width: 50vw;
  height: 3vw;
  /* margin-top: 0.5vw;   */ 
  border: solid burlywood 1px;
  border-radius: 1vw;
  text-align: center;
  font-weight: bold;
}

div.moreInfo {
  position: absolute;
  display: inline-block;
  border: solid 1px black;
  width: 25vw;
  background-image: url("../public/moreinfo.jpg");
  background-size: cover;
  margin-left: 1vw;
  margin-top: 5vw;
  padding: 0.5vw;
  border-radius: 1vw;
}

div.moreInfo > p {
  font-weight: 200;
  margin-top: 1vw;
  margin-left: 0.5vw
}

button.showLess {
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.konyvek:after {
  content: "";
  display: table;
  clear: both;
}

div.cover {
  text-align: center;
  float: left;
  padding: 2%;
  width: 20%;
}

div.info1 {
  float: left;
  width: 75%;
  padding-top: 1%;
}

div.info2 {
  float: left;
  width: 75%;
  padding-top: 1%;
  cursor: pointer;
}

div.cover > img {
  height: 8vw;
  width: 100%;
  cursor: pointer;
}

div.options {
  text-align: center;
  float: left;
  width: 25%;
  margin-top: 6%;
}

span.author {
  float: left;
  clear: left;
  padding-left: 2vw;
  color: lightcoral;
  font-size: 0.8vw;
}

span.bookname {
  float: left;
  clear: left;
  padding-left: 2vw;
  margin-top: 1vw;
  color: black;
  font-weight: bold;
  font-size: 1vw;
}

span.description {
  float: left;
  clear: left;
  padding-left: 2vw;
  margin-top: 1vw;
  color: lightslategray;
  font-size: 0.7vw;
}

div.options > button {
  border: none;
  width: 50%;
  height: 2vw;
  border-radius: 25px;
  background: black;
  color: white;
  font-size: 0.8vw;
  cursor: pointer;
}

div.options > button:hover {
  background: white;
  color: black;
}

select {
  font-size: medium;
  width: 80%;
  height: 30px;
  margin-bottom: 5%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}


p.ok {
  color: green;
  font-weight: bold;
  /* font-size: xx-large; */
}

p.notok {
  color: red;
  font-weight: bold;
  /* font-size: xx-large; */
}

div.body {
  /*background-color: white;
  border: solid green 2px;*/
  margin-left: 25vw;
  width: 50vw;
  font-size: 0.8vw;
}

div.users {
  text-align: center;

}

form > a {
  color: brown;
  text-decoration: none;
}

form > a:hover {
  color: black;
  text-decoration: underline;
}

div.header {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1vw;
  padding: 0;
  background-color: transparent;
  /* border: solid 1px brown; */
  height: 2vw;
}

div.header > div {
  /* border: solid 1px green; */
  float: left;
  width: 32%;
  margin-right: 1%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

div.logo {
  width: 100%;
  height: 100%;
  text-align: left;
}

div.search {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: none;
}

div.userinfo {
  width: 100%;
  height: 100%;
}

span.username {
  font-weight: bold;
  text-align: center;
  font-size: large;
  float: left;
  margin-left: 1vw;
  margin-top: 0.3vw;
}

span.userlogo {
  float: left;
  margin-left: 0.4vw;
  margin-top: 0.1vw;
  width: 10%;
  height: 80%;
}

span.log {
  float: right;
  margin-top: 0.1vw;   
  margin-right: 0.5vw; 
}

span.log button {
  border: none;
  width: 100%;
  height: 1.5vw;
  border-radius: 25px;
  background: black;
  color: white;
  font-size: 0.8vw;
  cursor: pointer;
}

span.log button:hover {
  color: black;
  background: white;
}

div.menu {
  height: 3vw;
  margin-bottom: 1vw;
}

span.role {
  float: left;
  clear: left;
  padding-left: 2vw;
  margin-top: 1vw;
  color: brown;
  font-size: 0.8vw;
}

span.changeRole {
  float: left;
  clear: left;
  padding-left: 2vw;
  margin-top: 0.3vw;
  color: lightslategray;
  font-size: 0.7vw;
  width: 10vw;
}

span.changeRole  button {
  float: left;
  border: none;
  width: 50%;
  height: 2vw;
  border-radius: 25px;
  background: black;
  color: white;
  font-size: 0.8vw;
  cursor: pointer;
}

span.changeRole  button:hover {
  background: white;
  color: black;
}


div.search input[type="text"] {
  width: 25%;
  height: 30px;
  margin-bottom: 5%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

div.search input::placeholder {
  color: brown;
}

span.settings {
  float: left;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}

span.settings > button {
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

div.settings {
  position: absolute;
  display: inline-block;
  border: solid 1px black;
  width: 12vw;
  background-image: url("../public/moreinfo.jpg");
  background-size: cover;
  margin-top: 2vw;
}

div.settings > button {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

div.settings > button:hover {
  background-color: burlywood;
}
